html, body {
    height: 90%;
    width: 90%;
    text-align: center;
    padding: 50px;
}

#field {
    background: lightblue;
    border: 3px solid darkblue;
}

#field, .start-btn {
    display: inline-block;
    vertical-align: middle;
    margin: 20px;
}

.hidden {
    visibility: hidden;
}
